# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Env files
.env
*.env
*.env.*
token.env

# Tool caches
.ruff_cache/
.pytest_cache/

# Data cache
/data/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
